* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms_search {
    background-color: #e5e5e5;
    height: 40px;
}

.ms_nav {
    background-color: #fff;
    height: 40px;
}

.ms_logo_1 {
    width: 35px;
    height: 35px;
    line-height: 10px;
}

.ms_logo_2 {
    width: 100%;
    line-height: 10px;
}

header {
    background-color: #f8f9fa;
    height: 60px;
}



.ms_sidebar {
    width: 50px;
    height: calc(100vh - 60px);
    background-image: url('../img/sidebar-bg.png');
    background-color: #051e34;
    margin-top: 60px;
}

@media screen and (min-width: 768px) {

    .ms_sidebar {
        width: 120px;
    }
}